@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
    min-height: 75rem;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#6C5EFF 0.9px, #ffffff 0.9px);
    background-size: 18px 18px;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: white;
  box-shadow: 0 0.1rem 0.5rem #ccc;
}
.navbar-brand {
  font-family: Montserrat
}

.nav-link {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 40px;
  padding: 0 10px;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #8d82ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.btn {
    background-color: #6C5EFF;
        --bs-btn-color: #fff;
        --bs-btn-bg: #6C5EFF;
        --bs-btn-border-color: #6C5EFF;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #5249bc;
        --bs-btn-hover-border-color: #6C5EFF;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #5249bc;
        --bs-btn-active-border-color: #5249bc;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #6C5EFF;
        --bs-btn-disabled-border-color: #6C5EFF;
}
  
.logout {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
	border: none;
    background-color: white;
    margin-right: 30px;
}

.tirar-sublinhado {
	text-decoration: none;
  }
  
  .fa-right-from-bracket {
	color: black;
	font-size: 18px;
  }

.form-control {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 20px;
  font-size: 15px;
  width: 300px;
}

:root {
	--c-theme-primary: #6C5EFF;
	--c-theme-primary-accent: #CBE8FF;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.calendar {
	width: 380px;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.header button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
	display: grid;
	grid-template-columns: repeat(7,1fr);
}

.day {
	text-align: center;
	padding: 5px;
	color: #999FA6;
	font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover {
  background: #e7e7e7;
  color: black;
}

.date.active {
  background: #897eff;
  color: white;
}

.date.inactive {
  color: #d2d2d2;
}

.date.inactive:hover {
  color: rgb(136, 136, 136);
}

.date.has-event {
  background-color: #ffcc00;
  color: #000;
  border-radius: 50%;
}