@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
    min-height: 75rem;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#6C5EFF 0.9px, #ffffff 0.9px);
    background-size: 18px 18px;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: white;
  box-shadow: 0 0.1rem 0.5rem #ccc;
}
.navbar-brand {
  font-family: Montserrat
}

.nav-link {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 40px;
  padding: 0 10px;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #8d82ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.btn {
    background-color: #6C5EFF;
        --bs-btn-color: #fff;
        --bs-btn-bg: #6C5EFF;
        --bs-btn-border-color: #6C5EFF;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #5249bc;
        --bs-btn-hover-border-color: #6C5EFF;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #5249bc;
        --bs-btn-active-border-color: #5249bc;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #6C5EFF;
        --bs-btn-disabled-border-color: #6C5EFF;
}
  
.logout {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
	border: none;
    background-color: white;
    margin-right: 30px;
}

.tirar-sublinhado {
	text-decoration: none;
  }
  
  .fa-right-from-bracket {
	color: black;
	font-size: 18px;
  }

.form-control {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 20px;
  font-size: 15px;
  width: 300px;
}

:root {
	--c-theme-primary: #6C5EFF;
	--c-theme-primary-accent: #CBE8FF;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}


.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: var(--c-bg-tertiary);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
	align-items: center;
	justify-content: center;
    margin: auto;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-top: -.5rem;
}

.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.month-name {
	font-weight: 600;
    font-size: 18px;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--c-text-secondary);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}	
}

.faded {
	color: var(--c-text-secondary);
}

.current-day {
	color: #FFF;
	border-color: var(--c-theme-primary);
	background-color: var(--c-theme-primary);
	&:focus {
		background-color: var(--c-theme-primary-accent);
	}
}
